upstream fastcgi_backend {
    server php:9000;
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name magento.localhost;

    ssl on;
    ssl_certificate /etc/nginx/ssl/custom.pem;
    ssl_certificate_key /etc/nginx/ssl/custom.key;

    set $MAGE_ROOT /var/www/html;
    set $MAGE_MODE developer;

    include /etc/nginx/conf.d/magento.conf.sample;
}
